<html>
        <head>
            <title>Blog Centro Dia Amor y Alegria</title>
        </head>
        <body>
            <div>
                <h1><a href="">Centro Dia Amor y Alegria</a></h1>
            </div>

            <div>
                <p>publicado: 10-OCT-2016, 10:14 p.m.</p>
                <h2><a href="">Bienvenida</a></h2>
                <p>Les agradezco que esten visitado nuestro sitio. La Directora.</p>
            </div>

            <div>
                <p>publicado: 20-OCT-2016, 12:14 a.m.</p>
                <h2><a href="">Centro Dia</a></h2>
                <p>Dedicado a las actividades en el dia de los adultos mayores</p>
            </div>
        </body>
</html>
